server:
  port: 8761

spring:
  application:
    name: eureka-server
  profiles:
    active: default

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

---
spring:
  config:
    activate:
      on-profile: production
  
eureka:
  instance:
    hostname: eureka-server-dot-${GOOGLE_CLOUD_PROJECT}.appspot.com
    non-secure-port: 80
    secure-port: 443
    prefer-ip-address: false